.column {
    float: left;
    display: table-cell;
    width: 46%;
    margin: 1%;
    padding: 1%;
    background-color: Lavender;
    padding-bottom: 99999px;
    margin-bottom: -99985px;
}

.row:after {
    content: "";
    clear: both;
}

.row {
    display: table;
    width: 100%;
    overflow: hidden;
}
